.dark-theme activity-bar {
  background-color: #2F333D; }
  .dark-theme activity-bar .activity-bar-list .settings-list-item > a {
    color: #ccc; }
    .dark-theme activity-bar .activity-bar-list .settings-list-item > a:focus, .dark-theme activity-bar .activity-bar-list .settings-list-item > a:active, .dark-theme activity-bar .activity-bar-list .settings-list-item > a:hover {
      color: #999; }

.dark-theme .nav-tabs {
  border-color: #1e2127; }
  .dark-theme .nav-tabs > li.active > a {
    background-color: #1e2127;
    color: #eee; }
  .dark-theme .nav-tabs > li > a {
    color: #eee; }
    .dark-theme .nav-tabs > li > a:hover, .dark-theme .nav-tabs > li > a:active {
      background-color: #1e2127; }

.dark-theme #settingsModal .tab-content .theme-list > li > a > img {
  border: 3px solid transparent; }

.dark-theme #settingsModal .tab-content .theme-list > li > a > label {
  color: #eee; }

.dark-theme #settingsModal .tab-content .theme-list > li.active > a > img {
  border: 3px solid #7C0000; }

.dark-theme #settingsModal .tab-content .about-panel h1 sup {
  color: #888; }

.dark-theme #settingsModal .tab-content .about-panel .description {
  color: #ccc; }

.dark-theme #settingsModal .tab-content .about-panel .donations {
  border-top: 1px solid #333840; }

.dark-theme #settingsModal .tab-content .about-panel a:not(.btn) {
  color: #4080D0; }

.dark-theme ::-webkit-scrollbar-thumb {
  background-color: rgba(59, 65, 77, 0.75); }
  .dark-theme ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(59, 65, 77, 0.95); }

.dark-theme .loading {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: #fff; }

.dark-theme .noty_bar {
  background-color: #282C34;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.dark-theme .package-explorer-container {
  background-color: #21252b; }
  .dark-theme .package-explorer-container .empty-list {
    color: #eee; }
  .dark-theme .package-explorer-container .header {
    color: #ccc;
    background-color: #282C34;
    border-bottom: 1px solid #2f333d; }
  .dark-theme .package-explorer-container package-explorer-list > ul.package-list > li > a {
    color: #eee;
    border-bottom: 1px solid #2f333d; }
    .dark-theme .package-explorer-container package-explorer-list > ul.package-list > li > a:hover, .dark-theme .package-explorer-container package-explorer-list > ul.package-list > li > a:active, .dark-theme .package-explorer-container package-explorer-list > ul.package-list > li > a.active {
      background-color: #282C34; }
  .dark-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a {
    color: #ccc; }
    .dark-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a:hover, .dark-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a:active, .dark-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a:focus {
      color: #eee; }

.dark-theme .packages .title {
  background-color: #21252B;
  color: #ccc;
  border-bottom: 1px solid #2f333d; }

.dark-theme .packages .content package-list {
  border-top: 1px solid #2f333d; }
  .dark-theme .packages .content package-list .search-no-result {
    color: #eee; }
  .dark-theme .packages .content package-list .package-list li {
    border-bottom: 1px solid #2f333d; }
    .dark-theme .packages .content package-list .package-list li .package-list-item {
      color: #eee; }
      .dark-theme .packages .content package-list .package-list li .package-list-item:hover, .dark-theme .packages .content package-list .package-list li .package-list-item:active, .dark-theme .packages .content package-list .package-list li .package-list-item.active {
        background-color: #21252b; }

.dark-theme .packages .content .content-split-pane .split-pane-component:first-child {
  border-right: 2px solid #181A1F;
  background-color: #282C34; }

.dark-theme .packages .content .package-list li .package-list-item {
  color: #eee; }
  .dark-theme .packages .content .package-list li .package-list-item:hover, .dark-theme .packages .content .package-list li .package-list-item:active {
    background-color: #21252b !important; }
  .dark-theme .packages .content .package-list li .package-list-item .package-version {
    background-color: #1b1e23;
    color: #606675; }
  .dark-theme .packages .content .package-list li .package-list-item .package-dev {
    color: #eee;
    background-color: #14476B; }
  .dark-theme .packages .content .package-list li .package-list-item.active {
    background-color: #21252b !important; }

.dark-theme .package-detail-container .header {
  background-color: #282c34;
  color: #eee; }
  .dark-theme .package-detail-container .header .title {
    background-color: transparent; }
    .dark-theme .package-detail-container .header .title span:last-child {
      background-color: #1b1e23;
      color: #606675; }

.dark-theme .package-detail-container .body .nav-tabs {
  background-color: #21252B;
  border-bottom-color: #2f333d; }
  .dark-theme .package-detail-container .body .nav-tabs li a {
    color: #999;
    border-bottom-color: #2f333d; }
    .dark-theme .package-detail-container .body .nav-tabs li a:hover {
      background-color: #21252B;
      border-color: transparent;
      border-bottom-color: #2f333d; }
  .dark-theme .package-detail-container .body .nav-tabs li.active a {
    background-color: #2C313A;
    border-color: transparent;
    border-bottom-color: #282C34;
    color: #fff; }

.dark-theme .package-detail-container .body .package-detail-info-container {
  background-color: #282c34; }
  .dark-theme .package-detail-container .body .package-detail-info-container .read-me-container {
    color: #ccc; }
    .dark-theme .package-detail-container .body .package-detail-info-container .read-me-container a {
      color: #4080D0; }
    .dark-theme .package-detail-container .body .package-detail-info-container .read-me-container pre, .dark-theme .package-detail-container .body .package-detail-info-container .read-me-container code {
      background-color: #2f333d;
      color: #eee; }
    .dark-theme .package-detail-container .body .package-detail-info-container .read-me-container hr {
      border-top-color: #35383f !important; }
  .dark-theme .package-detail-container .body .package-detail-info-container .no-info {
    color: #eee; }
  .dark-theme .package-detail-container .body .package-detail-info-container .table-striped > tbody tr:nth-of-type(odd) {
    background-color: #21252b !important; }
  .dark-theme .package-detail-container .body .package-detail-info-container #dependencies,
  .dark-theme .package-detail-container .body .package-detail-info-container #contributors {
    color: #eee; }

.dark-theme .package-detail-pane {
  background-color: #282c34; }

.dark-theme .clearable-input .fa {
  color: #aaa; }

.dark-theme .modal-content {
  background-color: #282c34;
  color: #eee; }
  .dark-theme .modal-content .modal-header {
    border-bottom: 1px solid #38393c; }
    .dark-theme .modal-content .modal-header .close {
      color: #e9e9e9; }
  .dark-theme .modal-content .modal-body .advanced-options .option-header a {
    color: #eee; }
  .dark-theme .modal-content .modal-footer {
    background-color: rgba(0, 0, 0, 0.25); }

.dark-theme .package-overlay,
.dark-theme .package-detail-overlay {
  background-color: #282c34 !important;
  color: #eee !important; }

.dark-theme .form-control {
  background-color: #1D1F23;
  border-color: #1D1F23;
  color: #eee; }
  .dark-theme .form-control:focus {
    border-color: #14476B; }

.dark-theme .btn-icon {
  color: #999; }
  .dark-theme .btn-icon:hover, .dark-theme .btn-icon:active {
    color: #666 !important; }

.dark-theme .btn {
  color: #fff; }
  .dark-theme .btn.btn-default {
    background-color: #404754; }
    .dark-theme .btn.btn-default:hover, .dark-theme .btn.btn-default:active, .dark-theme .btn.btn-default:focus {
      color: #fff;
      background-color: #4d5565 !important; }
      .dark-theme .btn.btn-default:hover:enabled, .dark-theme .btn.btn-default:active:enabled, .dark-theme .btn.btn-default:focus:enabled {
        background-color: #404754; }
      .dark-theme .btn.btn-default:hover:disabled, .dark-theme .btn.btn-default:active:disabled, .dark-theme .btn.btn-default:focus:disabled {
        background-color: #404754; }
  .dark-theme .btn.btn-success {
    background-color: #327E36; }
    .dark-theme .btn.btn-success:hover, .dark-theme .btn.btn-success:active, .dark-theme .btn.btn-success:focus {
      color: #fff; }
      .dark-theme .btn.btn-success:hover:enabled, .dark-theme .btn.btn-success:active:enabled, .dark-theme .btn.btn-success:focus:enabled {
        background-color: #28632B !important; }
      .dark-theme .btn.btn-success:hover:disabled, .dark-theme .btn.btn-success:active:disabled, .dark-theme .btn.btn-success:focus:disabled {
        background-color: #327E36; }
  .dark-theme .btn.btn-danger {
    background-color: #A10100; }
    .dark-theme .btn.btn-danger:hover, .dark-theme .btn.btn-danger:active, .dark-theme .btn.btn-danger:focus {
      color: #fff; }
      .dark-theme .btn.btn-danger:hover:enabled, .dark-theme .btn.btn-danger:active:enabled, .dark-theme .btn.btn-danger:focus:enabled {
        background-color: #7C0000 !important; }
      .dark-theme .btn.btn-danger:hover:disabled, .dark-theme .btn.btn-danger:active:disabled, .dark-theme .btn.btn-danger:focus:disabled {
        background-color: #A10100; }

.dark-theme .dropdown-menu {
  background-color: #282c34; }
  .dark-theme .dropdown-menu > li > a {
    color: #eee; }
    .dark-theme .dropdown-menu > li > a:hover, .dark-theme .dropdown-menu > li > a:focus, .dark-theme .dropdown-menu > li > a:active {
      color: #eee;
      background-color: #494d56; }
  .dark-theme .dropdown-menu .divider {
    background-color: #21252b; }

.dark-theme .scroll-to-top {
  background-color: #404754;
  color: #eee; }
  .dark-theme .scroll-to-top:hover, .dark-theme .scroll-to-top:active, .dark-theme .scroll-to-top:focus {
    color: #ccc; }

.dark-theme .has-search-icon:after {
  color: #aaa; }

.dark-theme .has-search-icon.input-loader:after {
  border-color: rgba(255, 255, 255, 0.2) !important;
  border-top-color: #fff !important; }

.dark-theme footer {
  background-color: #21252B;
  color: #999; }

.dark-theme loader {
  background-color: rgba(0, 0, 0, 0.5); }
  .dark-theme loader .loader {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.4); }

.light-theme activity-bar {
  background-color: #E8EAED; }
  .light-theme activity-bar .activity-bar-list .settings-list-item > a {
    color: #444; }
    .light-theme activity-bar .activity-bar-list .settings-list-item > a:focus, .light-theme activity-bar .activity-bar-list .settings-list-item > a:active, .light-theme activity-bar .activity-bar-list .settings-list-item > a:hover {
      color: #5E6472; }

.light-theme .nav-tabs {
  border-color: #c5cad3; }
  .light-theme .nav-tabs > li.active > a {
    background-color: #c5cad3;
    color: #333; }
  .light-theme .nav-tabs > li > a {
    color: #333; }
    .light-theme .nav-tabs > li > a:hover, .light-theme .nav-tabs > li > a:active {
      background-color: #c5cad3; }

.light-theme #settingsModal .tab-content .theme-list > li > a > img {
  border: 3px solid transparent; }

.light-theme #settingsModal .tab-content .theme-list > li > a > label {
  color: #333;
  font-weight: 600; }

.light-theme #settingsModal .tab-content .theme-list > li.active > a > img {
  border: 3px solid #8791a2; }

.light-theme #settingsModal .tab-content .about-panel h1 {
  font-weight: bold;
  color: #555; }
  .light-theme #settingsModal .tab-content .about-panel h1 sup {
    color: #888; }

.light-theme #settingsModal .tab-content .about-panel .description {
  color: #333; }

.light-theme #settingsModal .tab-content .about-panel .donations {
  border-top: 1px solid #333840; }

.light-theme #settingsModal .tab-content .about-panel a:not(.btn) {
  color: #4080D0; }

.light-theme ::-webkit-scrollbar-thumb {
  background-color: rgba(197, 202, 211, 0.75); }
  .light-theme ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(197, 202, 211, 0.95); }

.light-theme .loading {
  border-color: rgba(0, 0, 0, 0.2);
  border-top-color: #333; }

.light-theme .noty_bar {
  background-color: #D7DAE0;
  color: #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.light-theme .package-explorer-container {
  background-color: #D7DAE0; }
  .light-theme .package-explorer-container .empty-list {
    color: #333; }
  .light-theme .package-explorer-container .header {
    color: #333;
    background-color: #D7DAE0;
    border-bottom: 1px solid #C5CAD3;
    font-weight: bold; }
  .light-theme .package-explorer-container package-explorer-list > ul.package-list > li > a {
    color: #111;
    border-bottom: 1px solid #C5CAD3; }
    .light-theme .package-explorer-container package-explorer-list > ul.package-list > li > a:hover, .light-theme .package-explorer-container package-explorer-list > ul.package-list > li > a:active, .light-theme .package-explorer-container package-explorer-list > ul.package-list > li > a.active {
      background-color: #C5CAD3; }
  .light-theme .package-explorer-container package-explorer-list .context-menu-holder {
    background-color: #c5cad3; }
    .light-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a {
      color: #555; }
      .light-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a:hover, .light-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a:active, .light-theme .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a:focus {
        color: #222; }

.light-theme .packages .title {
  background-color: #c5cad3;
  color: #333;
  border-bottom: 1px solid #dadada;
  font-weight: bold; }

.light-theme .packages .content package-list {
  border-top: 1px solid #dadada; }
  .light-theme .packages .content package-list .search-no-result {
    color: #eee; }
  .light-theme .packages .content package-list .package-list li {
    border-bottom: 1px solid #dadada; }
    .light-theme .packages .content package-list .package-list li .package-list-item {
      color: #111; }
      .light-theme .packages .content package-list .package-list li .package-list-item:hover, .light-theme .packages .content package-list .package-list li .package-list-item:active, .light-theme .packages .content package-list .package-list li .package-list-item.active {
        background-color: #d7dae0; }

.light-theme .packages .content .content-split-pane .split-pane-component:first-child {
  border-right: 2px solid #C5CAD3;
  background-color: #e8eaed; }

.light-theme .packages .content .package-list li .package-list-item {
  color: #111; }
  .light-theme .packages .content .package-list li .package-list-item:hover, .light-theme .packages .content .package-list li .package-list-item:active {
    background-color: #d7dae0 !important; }
  .light-theme .packages .content .package-list li .package-list-item .package-version {
    background-color: #c5cad3;
    color: #666; }
  .light-theme .packages .content .package-list li .package-list-item .package-dev {
    color: #eee;
    background-color: #14476B; }
  .light-theme .packages .content .package-list li .package-list-item.active {
    background-color: #d7dae0 !important; }

.light-theme .package-detail-container .header {
  background-color: #e8eaed;
  color: #333; }
  .light-theme .package-detail-container .header .title {
    background-color: transparent; }
    .light-theme .package-detail-container .header .title span:last-child {
      background-color: #c5cad3;
      color: #333; }

.light-theme .package-detail-container .body .nav-tabs {
  background-color: #d7dae0;
  border-bottom-color: #c5cad3; }
  .light-theme .package-detail-container .body .nav-tabs li a {
    color: #333;
    border-bottom-color: #c5cad3; }
    .light-theme .package-detail-container .body .nav-tabs li a:hover {
      background-color: #c5cad3;
      border-color: transparent;
      border-bottom-color: #c5cad3; }
  .light-theme .package-detail-container .body .nav-tabs li.active a {
    background-color: #c5cad3;
    border-color: transparent;
    border-bottom-color: #e8eaed;
    color: #333; }

.light-theme .package-detail-container .body .package-detail-info-container {
  background-color: #e8eaed; }
  .light-theme .package-detail-container .body .package-detail-info-container .read-me-container {
    color: #333; }
    .light-theme .package-detail-container .body .package-detail-info-container .read-me-container a {
      color: #4080D0; }
    .light-theme .package-detail-container .body .package-detail-info-container .read-me-container pre, .light-theme .package-detail-container .body .package-detail-info-container .read-me-container code {
      background-color: #d7dae0;
      color: #333; }
    .light-theme .package-detail-container .body .package-detail-info-container .read-me-container hr {
      border-top-color: #c5cad3 !important; }
  .light-theme .package-detail-container .body .package-detail-info-container .no-info {
    color: #333; }
  .light-theme .package-detail-container .body .package-detail-info-container .table-striped > tbody tr:nth-of-type(odd) {
    background-color: #d7dae0 !important; }
  .light-theme .package-detail-container .body .package-detail-info-container #dependencies,
  .light-theme .package-detail-container .body .package-detail-info-container #contributors {
    color: #333; }
    .light-theme .package-detail-container .body .package-detail-info-container #dependencies h1,
    .light-theme .package-detail-container .body .package-detail-info-container #contributors h1 {
      font-weight: 600; }

.light-theme .package-detail-pane {
  background-color: #e8eaed; }

.light-theme .clearable-input .fa {
  color: #aaa; }

.light-theme .modal-content {
  background-color: #e8eaed;
  color: #333; }
  .light-theme .modal-content .modal-header {
    border-bottom: 1px solid #ddd; }
    .light-theme .modal-content .modal-header .close {
      color: #333; }
  .light-theme .modal-content .modal-body .advanced-options .option-header a {
    color: #333; }
  .light-theme .modal-content .modal-footer {
    background-color: #c5cad3; }

.light-theme .package-overlay,
.light-theme .package-detail-overlay {
  background-color: #E8EAED !important;
  color: #333 !important; }

.light-theme .form-control {
  background-color: #fff;
  border-color: #ddd;
  color: #333; }
  .light-theme .form-control:focus {
    border-color: #bbb; }

.light-theme .btn-icon {
  color: #555; }
  .light-theme .btn-icon:hover, .light-theme .btn-icon:active {
    color: #333333 !important; }

.light-theme .btn {
  color: #fff; }
  .light-theme .btn.btn-default {
    background-color: #a7abb3; }
    .light-theme .btn.btn-default:hover, .light-theme .btn.btn-default:active, .light-theme .btn.btn-default:focus {
      color: #fff;
      background-color: #B3B7BF !important; }
      .light-theme .btn.btn-default:hover:enabled, .light-theme .btn.btn-default:active:enabled, .light-theme .btn.btn-default:focus:enabled {
        background-color: #404754; }
      .light-theme .btn.btn-default:hover:disabled, .light-theme .btn.btn-default:active:disabled, .light-theme .btn.btn-default:focus:disabled {
        background-color: #a7abb3; }
  .light-theme .btn.btn-success {
    background-color: #327E36; }
    .light-theme .btn.btn-success:hover, .light-theme .btn.btn-success:active, .light-theme .btn.btn-success:focus {
      color: #fff; }
      .light-theme .btn.btn-success:hover:enabled, .light-theme .btn.btn-success:active:enabled, .light-theme .btn.btn-success:focus:enabled {
        background-color: #28632B !important; }
      .light-theme .btn.btn-success:hover:disabled, .light-theme .btn.btn-success:active:disabled, .light-theme .btn.btn-success:focus:disabled {
        background-color: #327E36; }
  .light-theme .btn.btn-danger {
    background-color: #A10100; }
    .light-theme .btn.btn-danger:hover, .light-theme .btn.btn-danger:active, .light-theme .btn.btn-danger:focus {
      color: #fff; }
      .light-theme .btn.btn-danger:hover:enabled, .light-theme .btn.btn-danger:active:enabled, .light-theme .btn.btn-danger:focus:enabled {
        background-color: #7C0000 !important; }
      .light-theme .btn.btn-danger:hover:disabled, .light-theme .btn.btn-danger:active:disabled, .light-theme .btn.btn-danger:focus:disabled {
        background-color: #A10100; }

.light-theme .dropdown-menu {
  background-color: #d7dae0; }
  .light-theme .dropdown-menu > li > a {
    color: #111; }
    .light-theme .dropdown-menu > li > a:hover, .light-theme .dropdown-menu > li > a:focus, .light-theme .dropdown-menu > li > a:active {
      color: #111;
      background-color: #bac0cc; }
  .light-theme .dropdown-menu .divider {
    background-color: #ccc; }

.light-theme .scroll-to-top {
  background-color: #c5cad3;
  color: #777; }
  .light-theme .scroll-to-top:hover, .light-theme .scroll-to-top:active, .light-theme .scroll-to-top:focus {
    color: #999; }

.light-theme .has-search-icon:after {
  color: #aaa; }

.light-theme .has-search-icon.input-loader:after {
  border-color: rgba(255, 255, 255, 0.2) !important;
  border-top-color: #fff !important; }

.light-theme footer {
  background-color: #d7dae0;
  color: #333; }

.light-theme loader {
  background-color: rgba(146, 151, 162, 0.5); }
  .light-theme loader .loader {
    color: #333;
    background-color: rgba(146, 151, 162, 0.4); }

.package-explorer-container {
  height: 100%; }
  .package-explorer-container .header {
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative; }
  .package-explorer-container .empty-list {
    font-size: 13px;
    text-align: center;
    margin-top: 12px; }
  .package-explorer-container package-explorer-list {
    position: relative; }
    .package-explorer-container package-explorer-list > ul.package-list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .package-explorer-container package-explorer-list > ul.package-list > li {
        position: relative; }
        .package-explorer-container package-explorer-list > ul.package-list > li > a {
          display: block;
          padding: 10px;
          font-size: 12px;
          text-decoration: none;
          word-break: break-all; }
        .package-explorer-container package-explorer-list > ul.package-list > li:hover .context-menu-holder {
          display: block; }
    .package-explorer-container package-explorer-list .context-menu-holder {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-color: #2f333d; }
      .package-explorer-container package-explorer-list .context-menu-holder .list-holder {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 12px;
        padding-left: 10px; }
        .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul {
          margin: 0;
          padding: 0; }
          .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li {
            list-style: none;
            display: inline-block; }
            .package-explorer-container package-explorer-list .context-menu-holder .list-holder > ul > li > a {
              font-size: 14px;
              padding: 0 3px; }
  .package-explorer-container ul.package-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .package-explorer-container ul.package-list li div.package-list-item {
      display: block;
      padding: 10px;
      font-size: 12px;
      text-decoration: none;
      word-break: break-all; }
  .package-explorer-container .btn-icon {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 0 5px;
    margin-right: -5px;
    position: relative;
    top: -1px; }

footer {
  height: 24px;
  font-size: 12px;
  display: table;
  width: 100%; }
  footer .footer-container {
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    vertical-align: middle; }

.workbench-container activity-bar .activity-bar-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .workbench-container activity-bar .activity-bar-list li a {
    display: block;
    padding: 6px 8px; }
    .workbench-container activity-bar .activity-bar-list li a img {
      display: table-cell;
      vertical-align: middle;
      height: 40px;
      width: 32px;
      filter: grayscale(100%); }
    .workbench-container activity-bar .activity-bar-list li a.active img {
      filter: grayscale(0); }
  .workbench-container activity-bar .activity-bar-list .settings-list-item {
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 24px;
    left: 6px; }

.workbench-container .packages .title {
  font-size: 13px;
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-right: 10px; }
  .workbench-container .packages .title span img {
    max-width: 32px;
    margin-right: 3px; }

.workbench-container package-list {
  height: calc(100% - 90px);
  overflow-y: auto;
  display: block; }

.workbench-container packages {
  height: 100%; }

.workbench-container .packages {
  height: 100%; }
  .workbench-container .packages .content {
    height: 100%; }
  .workbench-container .packages .content .content-split-pane .split-pane-component:first-child {
    min-width: 320px; }
  .workbench-container .packages .content .content-split-pane .split-pane-component:last-child {
    min-width: 320px; }
  .workbench-container .packages .content .content-split-pane .split-pane-component hr {
    margin: 0;
    padding: 0;
    display: block;
    height: 1px; }
  .workbench-container .packages .content .content-split-pane .split-pane-component .search-no-result {
    font-size: 13px;
    text-align: center;
    margin-top: 8px; }
  .workbench-container .packages .content .content-split-pane .split-pane-component .title .btn-icon {
    background: transparent;
    border: none;
    font-size: 17px;
    padding: 0 5px;
    margin-right: -5px;
    position: relative;
    top: -2px; }
    .workbench-container .packages .content .content-split-pane .split-pane-component .title .btn-icon.btn-refresh {
      font-size: 16px;
      position: relative;
      top: 0px;
      margin-left: 3px; }
  .workbench-container .packages .content .package-list {
    padding: 0;
    margin: 0;
    list-style: none; }
    .workbench-container .packages .content .package-list li .package-list-item {
      display: block;
      padding: 10px 12px;
      font-size: 13px;
      text-decoration: none;
      position: relative;
      cursor: pointer; }
      .workbench-container .packages .content .package-list li .package-list-item .package-version,
      .workbench-container .packages .content .package-list li .package-list-item .package-dev {
        font-size: 9px;
        padding: 1px 3px 0 3px;
        border-radius: 3px;
        font-weight: bold;
        margin-left: 2px; }

.workbench-container .nav-tabs {
  height: 36px; }
  .workbench-container .nav-tabs > li > a {
    border-radius: 0;
    font-size: 13px;
    margin-right: 0; }

.workbench-container .nav > li a {
  padding: 7px 12px;
  height: 36px; }

.workbench-container .clearable-input .fa {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 15px;
  cursor: pointer; }

.workbench-container .package-detail-container .header {
  padding: 15px 20px; }
  .workbench-container .package-detail-container .header .title {
    font-weight: 600;
    font-size: 18px;
    padding-left: 0;
    border: none !important; }
    .workbench-container .package-detail-container .header .title span:last-child {
      font-size: 9px;
      padding: 0 3px;
      border-radius: 3px;
      font-weight: bold;
      position: relative;
      top: -1px; }
  .workbench-container .package-detail-container .header .author {
    font-size: 13px; }
  .workbench-container .package-detail-container .header .license {
    font-size: 13px; }
  .workbench-container .package-detail-container .header .description {
    font-size: 13px;
    margin-top: 20px; }

.workbench-container .package-detail-info-container .read-me-container {
  font-size: 13px; }
  .workbench-container .package-detail-info-container .read-me-container h1 {
    font-size: 17px;
    margin-top: 40px;
    font-weight: 600; }
    .workbench-container .package-detail-info-container .read-me-container h1:first-child {
      margin-top: 0 !important; }
  .workbench-container .package-detail-info-container .read-me-container h2 {
    font-size: 16px;
    margin-top: 40px;
    font-weight: 600; }
  .workbench-container .package-detail-info-container .read-me-container h3 {
    font-size: 15px;
    margin-top: 40px;
    font-weight: 600; }
  .workbench-container .package-detail-info-container .read-me-container h4 {
    font-size: 14px;
    margin-top: 40px;
    font-weight: 600; }
  .workbench-container .package-detail-info-container .read-me-container h5 {
    font-size: 13px;
    margin-top: 40px;
    font-weight: 600; }
  .workbench-container .package-detail-info-container .read-me-container h6 {
    font-size: 12px;
    margin-top: 40px;
    font-weight: 600; }
  .workbench-container .package-detail-info-container .read-me-container pre {
    border-radius: 0;
    border: none;
    padding: 15px 10px; }
  .workbench-container .package-detail-info-container .read-me-container code {
    border-radius: 0;
    padding: 2px 6px; }
  .workbench-container .package-detail-info-container .read-me-container blockquote {
    font-size: 14px;
    margin: 25px 0; }
  .workbench-container .package-detail-info-container .read-me-container img {
    max-width: 100%; }
  .workbench-container .package-detail-info-container .read-me-container hr {
    margin: 10px 0 !important; }

.workbench-container .package-detail-info-container .no-info {
  font-size: 13px; }

.workbench-container .package-detail-info-container #details {
  padding: 15px; }

.workbench-container .package-detail-info-container #dependencies {
  font-size: 13px;
  padding: 15px; }
  .workbench-container .package-detail-info-container #dependencies h1 {
    font-size: 16px;
    margin-top: 0; }

.workbench-container .package-detail-info-container #contributors {
  font-size: 13px;
  padding: 15px; }
  .workbench-container .package-detail-info-container #contributors h1 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px; }

.workbench-container .package-detail-info-container .table > tbody tr td {
  border-top: none; }

.workbench-container .setup-container {
  margin-top: 17px; }
  .workbench-container .setup-container select.form-control {
    width: auto;
    display: inline-block;
    height: auto;
    font-size: 12px;
    padding: 3.5px 5px 3.5px 5px; }

loader {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  loader .loader {
    max-width: 180px;
    width: 100%;
    padding: 25px;
    text-align: center;
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 49px);
    border-radius: 3px; }
    loader .loader p {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 13px; }

.form-horizontal label {
  font-weight: normal;
  font-size: 13px; }

.advanced-options {
  margin-top: 20px; }
  .advanced-options .option-header a {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none; }
    .advanced-options .option-header a:before {
      font-family: 'FontAwesome';
      content: '\f0da';
      width: 12px;
      display: inline-block; }
  .advanced-options .option-content {
    height: 0;
    overflow: hidden;
    margin-top: 20px; }
    .advanced-options .option-content h3 {
      font-size: 13px;
      font-weight: 600;
      margin-top: 20px; }
  .advanced-options.open .option-header a:before {
    content: '\f0d7'; }
  .advanced-options.open .option-content {
    height: auto;
    margin-bottom: -15px; }

.dropdown-menu {
  margin-top: -8px;
  border-radius: 0; }
  .dropdown-menu > li > a {
    padding: 5px 10px;
    font-size: 13px; }

.package-detail-pane {
  overflow: hidden !important; }
  .package-detail-pane .package-detail-container .package-detail-info-container .tab-content .tab-pane {
    overflow: auto; }

.scroll-to-top {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 6px 10px;
  font-size: 18px; }

.package-overlay,
.package-detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  text-align: center; }
  .package-overlay p,
  .package-detail-overlay p {
    position: relative;
    top: 12px;
    font-size: 13px; }

.m-l--125 {
  margin-left: -125px; }

.m-t--125 {
  margin-top: -125px; }

.m-r--125 {
  margin-right: -125px; }

.m-b--125 {
  margin-bottom: -125px; }

.m-l--120 {
  margin-left: -120px; }

.m-t--120 {
  margin-top: -120px; }

.m-r--120 {
  margin-right: -120px; }

.m-b--120 {
  margin-bottom: -120px; }

.m-l--115 {
  margin-left: -115px; }

.m-t--115 {
  margin-top: -115px; }

.m-r--115 {
  margin-right: -115px; }

.m-b--115 {
  margin-bottom: -115px; }

.m-l--110 {
  margin-left: -110px; }

.m-t--110 {
  margin-top: -110px; }

.m-r--110 {
  margin-right: -110px; }

.m-b--110 {
  margin-bottom: -110px; }

.m-l--105 {
  margin-left: -105px; }

.m-t--105 {
  margin-top: -105px; }

.m-r--105 {
  margin-right: -105px; }

.m-b--105 {
  margin-bottom: -105px; }

.m-l--100 {
  margin-left: -100px; }

.m-t--100 {
  margin-top: -100px; }

.m-r--100 {
  margin-right: -100px; }

.m-b--100 {
  margin-bottom: -100px; }

.m-l--95 {
  margin-left: -95px; }

.m-t--95 {
  margin-top: -95px; }

.m-r--95 {
  margin-right: -95px; }

.m-b--95 {
  margin-bottom: -95px; }

.m-l--90 {
  margin-left: -90px; }

.m-t--90 {
  margin-top: -90px; }

.m-r--90 {
  margin-right: -90px; }

.m-b--90 {
  margin-bottom: -90px; }

.m-l--85 {
  margin-left: -85px; }

.m-t--85 {
  margin-top: -85px; }

.m-r--85 {
  margin-right: -85px; }

.m-b--85 {
  margin-bottom: -85px; }

.m-l--80 {
  margin-left: -80px; }

.m-t--80 {
  margin-top: -80px; }

.m-r--80 {
  margin-right: -80px; }

.m-b--80 {
  margin-bottom: -80px; }

.m-l--75 {
  margin-left: -75px; }

.m-t--75 {
  margin-top: -75px; }

.m-r--75 {
  margin-right: -75px; }

.m-b--75 {
  margin-bottom: -75px; }

.m-l--70 {
  margin-left: -70px; }

.m-t--70 {
  margin-top: -70px; }

.m-r--70 {
  margin-right: -70px; }

.m-b--70 {
  margin-bottom: -70px; }

.m-l--65 {
  margin-left: -65px; }

.m-t--65 {
  margin-top: -65px; }

.m-r--65 {
  margin-right: -65px; }

.m-b--65 {
  margin-bottom: -65px; }

.m-l--60 {
  margin-left: -60px; }

.m-t--60 {
  margin-top: -60px; }

.m-r--60 {
  margin-right: -60px; }

.m-b--60 {
  margin-bottom: -60px; }

.m-l--55 {
  margin-left: -55px; }

.m-t--55 {
  margin-top: -55px; }

.m-r--55 {
  margin-right: -55px; }

.m-b--55 {
  margin-bottom: -55px; }

.m-l--50 {
  margin-left: -50px; }

.m-t--50 {
  margin-top: -50px; }

.m-r--50 {
  margin-right: -50px; }

.m-b--50 {
  margin-bottom: -50px; }

.m-l--45 {
  margin-left: -45px; }

.m-t--45 {
  margin-top: -45px; }

.m-r--45 {
  margin-right: -45px; }

.m-b--45 {
  margin-bottom: -45px; }

.m-l--40 {
  margin-left: -40px; }

.m-t--40 {
  margin-top: -40px; }

.m-r--40 {
  margin-right: -40px; }

.m-b--40 {
  margin-bottom: -40px; }

.m-l--35 {
  margin-left: -35px; }

.m-t--35 {
  margin-top: -35px; }

.m-r--35 {
  margin-right: -35px; }

.m-b--35 {
  margin-bottom: -35px; }

.m-l--30 {
  margin-left: -30px; }

.m-t--30 {
  margin-top: -30px; }

.m-r--30 {
  margin-right: -30px; }

.m-b--30 {
  margin-bottom: -30px; }

.m-l--25 {
  margin-left: -25px; }

.m-t--25 {
  margin-top: -25px; }

.m-r--25 {
  margin-right: -25px; }

.m-b--25 {
  margin-bottom: -25px; }

.m-l--20 {
  margin-left: -20px; }

.m-t--20 {
  margin-top: -20px; }

.m-r--20 {
  margin-right: -20px; }

.m-b--20 {
  margin-bottom: -20px; }

.m-l--15 {
  margin-left: -15px; }

.m-t--15 {
  margin-top: -15px; }

.m-r--15 {
  margin-right: -15px; }

.m-b--15 {
  margin-bottom: -15px; }

.m-l--10 {
  margin-left: -10px; }

.m-t--10 {
  margin-top: -10px; }

.m-r--10 {
  margin-right: -10px; }

.m-b--10 {
  margin-bottom: -10px; }

.m-l--5 {
  margin-left: -5px; }

.m-t--5 {
  margin-top: -5px; }

.m-r--5 {
  margin-right: -5px; }

.m-b--5 {
  margin-bottom: -5px; }

.m-l-0 {
  margin-left: 0px; }

.m-t-0 {
  margin-top: 0px; }

.m-r-0 {
  margin-right: 0px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-l-5 {
  margin-left: 5px; }

.m-t-5 {
  margin-top: 5px; }

.m-r-5 {
  margin-right: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-10 {
  margin-left: 10px; }

.m-t-10 {
  margin-top: 10px; }

.m-r-10 {
  margin-right: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-t-15 {
  margin-top: 15px; }

.m-r-15 {
  margin-right: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-20 {
  margin-left: 20px; }

.m-t-20 {
  margin-top: 20px; }

.m-r-20 {
  margin-right: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-l-25 {
  margin-left: 25px; }

.m-t-25 {
  margin-top: 25px; }

.m-r-25 {
  margin-right: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-l-30 {
  margin-left: 30px; }

.m-t-30 {
  margin-top: 30px; }

.m-r-30 {
  margin-right: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-l-35 {
  margin-left: 35px; }

.m-t-35 {
  margin-top: 35px; }

.m-r-35 {
  margin-right: 35px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-l-40 {
  margin-left: 40px; }

.m-t-40 {
  margin-top: 40px; }

.m-r-40 {
  margin-right: 40px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-l-45 {
  margin-left: 45px; }

.m-t-45 {
  margin-top: 45px; }

.m-r-45 {
  margin-right: 45px; }

.m-b-45 {
  margin-bottom: 45px; }

.m-l-50 {
  margin-left: 50px; }

.m-t-50 {
  margin-top: 50px; }

.m-r-50 {
  margin-right: 50px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-l-55 {
  margin-left: 55px; }

.m-t-55 {
  margin-top: 55px; }

.m-r-55 {
  margin-right: 55px; }

.m-b-55 {
  margin-bottom: 55px; }

.m-l-60 {
  margin-left: 60px; }

.m-t-60 {
  margin-top: 60px; }

.m-r-60 {
  margin-right: 60px; }

.m-b-60 {
  margin-bottom: 60px; }

.m-l-65 {
  margin-left: 65px; }

.m-t-65 {
  margin-top: 65px; }

.m-r-65 {
  margin-right: 65px; }

.m-b-65 {
  margin-bottom: 65px; }

.m-l-70 {
  margin-left: 70px; }

.m-t-70 {
  margin-top: 70px; }

.m-r-70 {
  margin-right: 70px; }

.m-b-70 {
  margin-bottom: 70px; }

.m-l-75 {
  margin-left: 75px; }

.m-t-75 {
  margin-top: 75px; }

.m-r-75 {
  margin-right: 75px; }

.m-b-75 {
  margin-bottom: 75px; }

.m-l-80 {
  margin-left: 80px; }

.m-t-80 {
  margin-top: 80px; }

.m-r-80 {
  margin-right: 80px; }

.m-b-80 {
  margin-bottom: 80px; }

.m-l-85 {
  margin-left: 85px; }

.m-t-85 {
  margin-top: 85px; }

.m-r-85 {
  margin-right: 85px; }

.m-b-85 {
  margin-bottom: 85px; }

.m-l-90 {
  margin-left: 90px; }

.m-t-90 {
  margin-top: 90px; }

.m-r-90 {
  margin-right: 90px; }

.m-b-90 {
  margin-bottom: 90px; }

.m-l-95 {
  margin-left: 95px; }

.m-t-95 {
  margin-top: 95px; }

.m-r-95 {
  margin-right: 95px; }

.m-b-95 {
  margin-bottom: 95px; }

.m-l-100 {
  margin-left: 100px; }

.m-t-100 {
  margin-top: 100px; }

.m-r-100 {
  margin-right: 100px; }

.m-b-100 {
  margin-bottom: 100px; }

.m-l-105 {
  margin-left: 105px; }

.m-t-105 {
  margin-top: 105px; }

.m-r-105 {
  margin-right: 105px; }

.m-b-105 {
  margin-bottom: 105px; }

.m-l-110 {
  margin-left: 110px; }

.m-t-110 {
  margin-top: 110px; }

.m-r-110 {
  margin-right: 110px; }

.m-b-110 {
  margin-bottom: 110px; }

.m-l-115 {
  margin-left: 115px; }

.m-t-115 {
  margin-top: 115px; }

.m-r-115 {
  margin-right: 115px; }

.m-b-115 {
  margin-bottom: 115px; }

.m-l-120 {
  margin-left: 120px; }

.m-t-120 {
  margin-top: 120px; }

.m-r-120 {
  margin-right: 120px; }

.m-b-120 {
  margin-bottom: 120px; }

.m-l-125 {
  margin-left: 125px; }

.m-t-125 {
  margin-top: 125px; }

.m-r-125 {
  margin-right: 125px; }

.m-b-125 {
  margin-bottom: 125px; }

.margin-0 {
  margin: 0; }

.padding-0 {
  padding: 0px; }

.margin-5 {
  margin: 5; }

.padding-5 {
  padding: 5px; }

.margin-10 {
  margin: 10; }

.padding-10 {
  padding: 10px; }

.margin-15 {
  margin: 15; }

.padding-15 {
  padding: 15px; }

.margin-20 {
  margin: 20; }

.padding-20 {
  padding: 20px; }

.margin-25 {
  margin: 25; }

.padding-25 {
  padding: 25px; }

.margin-30 {
  margin: 30; }

.padding-30 {
  padding: 30px; }

.margin-35 {
  margin: 35; }

.padding-35 {
  padding: 35px; }

.margin-40 {
  margin: 40; }

.padding-40 {
  padding: 40px; }

.margin-45 {
  margin: 45; }

.padding-45 {
  padding: 45px; }

.margin-50 {
  margin: 50; }

.padding-50 {
  padding: 50px; }

.margin-55 {
  margin: 55; }

.padding-55 {
  padding: 55px; }

.margin-60 {
  margin: 60; }

.padding-60 {
  padding: 60px; }

.margin-65 {
  margin: 65; }

.padding-65 {
  padding: 65px; }

.margin-70 {
  margin: 70; }

.padding-70 {
  padding: 70px; }

.margin-75 {
  margin: 75; }

.padding-75 {
  padding: 75px; }

.margin-80 {
  margin: 80; }

.padding-80 {
  padding: 80px; }

.margin-85 {
  margin: 85; }

.padding-85 {
  padding: 85px; }

.margin-90 {
  margin: 90; }

.padding-90 {
  padding: 90px; }

.margin-95 {
  margin: 95; }

.padding-95 {
  padding: 95px; }

.margin-100 {
  margin: 100; }

.padding-100 {
  padding: 100px; }

.margin-105 {
  margin: 105; }

.padding-105 {
  padding: 105px; }

.margin-110 {
  margin: 110; }

.padding-110 {
  padding: 110px; }

.margin-115 {
  margin: 115; }

.padding-115 {
  padding: 115px; }

.margin-120 {
  margin: 120; }

.padding-120 {
  padding: 120px; }

.margin-125 {
  margin: 125; }

.padding-125 {
  padding: 125px; }

.p-l-0 {
  padding-left: 0px; }

.p-t-0 {
  padding-top: 0px; }

.p-r-0 {
  padding-right: 0px; }

.p-b-0 {
  padding-bottom: 0px; }

.padding-0 {
  padding: 0px; }

.p-l-5 {
  padding-left: 5px; }

.p-t-5 {
  padding-top: 5px; }

.p-r-5 {
  padding-right: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.padding-5 {
  padding: 5px; }

.p-l-10 {
  padding-left: 10px; }

.p-t-10 {
  padding-top: 10px; }

.p-r-10 {
  padding-right: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.padding-10 {
  padding: 10px; }

.p-l-15 {
  padding-left: 15px; }

.p-t-15 {
  padding-top: 15px; }

.p-r-15 {
  padding-right: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.padding-15 {
  padding: 15px; }

.p-l-20 {
  padding-left: 20px; }

.p-t-20 {
  padding-top: 20px; }

.p-r-20 {
  padding-right: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.padding-20 {
  padding: 20px; }

.p-l-25 {
  padding-left: 25px; }

.p-t-25 {
  padding-top: 25px; }

.p-r-25 {
  padding-right: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.padding-25 {
  padding: 25px; }

.p-l-30 {
  padding-left: 30px; }

.p-t-30 {
  padding-top: 30px; }

.p-r-30 {
  padding-right: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.padding-30 {
  padding: 30px; }

.p-l-35 {
  padding-left: 35px; }

.p-t-35 {
  padding-top: 35px; }

.p-r-35 {
  padding-right: 35px; }

.p-b-35 {
  padding-bottom: 35px; }

.padding-35 {
  padding: 35px; }

.p-l-40 {
  padding-left: 40px; }

.p-t-40 {
  padding-top: 40px; }

.p-r-40 {
  padding-right: 40px; }

.p-b-40 {
  padding-bottom: 40px; }

.padding-40 {
  padding: 40px; }

.p-l-45 {
  padding-left: 45px; }

.p-t-45 {
  padding-top: 45px; }

.p-r-45 {
  padding-right: 45px; }

.p-b-45 {
  padding-bottom: 45px; }

.padding-45 {
  padding: 45px; }

.p-l-50 {
  padding-left: 50px; }

.p-t-50 {
  padding-top: 50px; }

.p-r-50 {
  padding-right: 50px; }

.p-b-50 {
  padding-bottom: 50px; }

.padding-50 {
  padding: 50px; }

.p-l-55 {
  padding-left: 55px; }

.p-t-55 {
  padding-top: 55px; }

.p-r-55 {
  padding-right: 55px; }

.p-b-55 {
  padding-bottom: 55px; }

.padding-55 {
  padding: 55px; }

.p-l-60 {
  padding-left: 60px; }

.p-t-60 {
  padding-top: 60px; }

.p-r-60 {
  padding-right: 60px; }

.p-b-60 {
  padding-bottom: 60px; }

.padding-60 {
  padding: 60px; }

.p-l-65 {
  padding-left: 65px; }

.p-t-65 {
  padding-top: 65px; }

.p-r-65 {
  padding-right: 65px; }

.p-b-65 {
  padding-bottom: 65px; }

.padding-65 {
  padding: 65px; }

.p-l-70 {
  padding-left: 70px; }

.p-t-70 {
  padding-top: 70px; }

.p-r-70 {
  padding-right: 70px; }

.p-b-70 {
  padding-bottom: 70px; }

.padding-70 {
  padding: 70px; }

.p-l-75 {
  padding-left: 75px; }

.p-t-75 {
  padding-top: 75px; }

.p-r-75 {
  padding-right: 75px; }

.p-b-75 {
  padding-bottom: 75px; }

.padding-75 {
  padding: 75px; }

.p-l-80 {
  padding-left: 80px; }

.p-t-80 {
  padding-top: 80px; }

.p-r-80 {
  padding-right: 80px; }

.p-b-80 {
  padding-bottom: 80px; }

.padding-80 {
  padding: 80px; }

.p-l-85 {
  padding-left: 85px; }

.p-t-85 {
  padding-top: 85px; }

.p-r-85 {
  padding-right: 85px; }

.p-b-85 {
  padding-bottom: 85px; }

.padding-85 {
  padding: 85px; }

.p-l-90 {
  padding-left: 90px; }

.p-t-90 {
  padding-top: 90px; }

.p-r-90 {
  padding-right: 90px; }

.p-b-90 {
  padding-bottom: 90px; }

.padding-90 {
  padding: 90px; }

.p-l-95 {
  padding-left: 95px; }

.p-t-95 {
  padding-top: 95px; }

.p-r-95 {
  padding-right: 95px; }

.p-b-95 {
  padding-bottom: 95px; }

.padding-95 {
  padding: 95px; }

.p-l-100 {
  padding-left: 100px; }

.p-t-100 {
  padding-top: 100px; }

.p-r-100 {
  padding-right: 100px; }

.p-b-100 {
  padding-bottom: 100px; }

.padding-100 {
  padding: 100px; }

.p-l-105 {
  padding-left: 105px; }

.p-t-105 {
  padding-top: 105px; }

.p-r-105 {
  padding-right: 105px; }

.p-b-105 {
  padding-bottom: 105px; }

.padding-105 {
  padding: 105px; }

.p-l-110 {
  padding-left: 110px; }

.p-t-110 {
  padding-top: 110px; }

.p-r-110 {
  padding-right: 110px; }

.p-b-110 {
  padding-bottom: 110px; }

.padding-110 {
  padding: 110px; }

.p-l-115 {
  padding-left: 115px; }

.p-t-115 {
  padding-top: 115px; }

.p-r-115 {
  padding-right: 115px; }

.p-b-115 {
  padding-bottom: 115px; }

.padding-115 {
  padding: 115px; }

.p-l-120 {
  padding-left: 120px; }

.p-t-120 {
  padding-top: 120px; }

.p-r-120 {
  padding-right: 120px; }

.p-b-120 {
  padding-bottom: 120px; }

.padding-120 {
  padding: 120px; }

.p-l-125 {
  padding-left: 125px; }

.p-t-125 {
  padding-top: 125px; }

.p-r-125 {
  padding-right: 125px; }

.p-b-125 {
  padding-bottom: 125px; }

.padding-125 {
  padding: 125px; }

.font-6 {
  font-size: 6px; }

.font-7 {
  font-size: 7px; }

.font-8 {
  font-size: 8px; }

.font-9 {
  font-size: 9px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.font-41 {
  font-size: 41px; }

.font-42 {
  font-size: 42px; }

.font-43 {
  font-size: 43px; }

.font-44 {
  font-size: 44px; }

.font-45 {
  font-size: 45px; }

.font-46 {
  font-size: 46px; }

.font-47 {
  font-size: 47px; }

.font-48 {
  font-size: 48px; }

.font-49 {
  font-size: 49px; }

.font-50 {
  font-size: 50px; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.no-resize {
  resize: none; }

.font-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.font-underline {
  text-decoration: underline; }

.font-line-through {
  text-decoration: line-through; }

.font-overline {
  text-decoration: overline; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.noty_bar {
  border: none !important;
  border-radius: 0 !important;
  font-size: 13px;
  text-align: center; }
  .noty_bar .noty_body {
    font-size: 13px !important;
    padding: 13px !important; }
  .noty_bar.noty_has_progressbar .noty_progressbar {
    background-color: #000 !important; }
  .noty_bar.noty_type__error {
    background-color: #660000; }
  .noty_bar.noty_type__success {
    background-color: #327E36; }

#noty_layout__topCenter {
  top: 10px !important; }

.modal-content {
  border-radius: 0; }
  .modal-content .modal-header {
    padding: 12px 14px; }
    .modal-content .modal-header .close {
      text-shadow: none;
      font-size: 22px;
      opacity: 0.5; }
      .modal-content .modal-header .close:hover, .modal-content .modal-header .close:active {
        opacity: 0.75; }
    .modal-content .modal-header .modal-title {
      font-size: 14px;
      font-weight: 600; }
  .modal-content .modal-footer {
    border: none; }

.btn {
  border: none;
  border-radius: 0; }

.btn-group > .btn + .dropdown-toggle {
  padding-left: 3px;
  padding-right: 3px; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.nav-tabs > li > a {
  border-radius: 0;
  border: none !important;
  font-size: 13px;
  font-weight: 600; }

.tab-content > .tab-pane {
  padding: 10px 12px; }

#settingsModal .tab-content .theme-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  #settingsModal .tab-content .theme-list > li {
    display: inline-block; }
    #settingsModal .tab-content .theme-list > li:first-child {
      margin-right: 15px; }
    #settingsModal .tab-content .theme-list > li > a {
      text-decoration: none;
      font-size: 13px; }
      #settingsModal .tab-content .theme-list > li > a > label {
        display: block;
        font-weight: normal;
        margin-top: 10px;
        cursor: pointer; }

#settingsModal .tab-content .about-panel img {
  max-width: 128px; }

#settingsModal .tab-content .about-panel h1 {
  font-size: 19px;
  text-align: center; }
  #settingsModal .tab-content .about-panel h1 sup {
    font-size: 11px;
    font-weight: bold; }

#settingsModal .tab-content .about-panel .description {
  font-size: 13px;
  text-align: center; }

#settingsModal .tab-content .about-panel .author-name {
  margin-top: 25px;
  font-size: 13px; }
  #settingsModal .tab-content .about-panel .author-name a {
    font-weight: bold; }

#settingsModal .tab-content .about-panel .project-links {
  margin-top: 7px;
  margin-bottom: 5px; }
  #settingsModal .tab-content .about-panel .project-links a:not(.btn) {
    display: table;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px; }

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: default; }

html,
body,
input,
textarea,
select,
option,
button {
  outline: none !important; }
  html:hover, html:focus, html:active,
  body:hover,
  body:focus,
  body:active,
  input:hover,
  input:focus,
  input:active,
  textarea:hover,
  textarea:focus,
  textarea:active,
  select:hover,
  select:focus,
  select:active,
  option:hover,
  option:focus,
  option:active,
  button:hover,
  button:focus,
  button:active {
    outline: none !important; }

.animated {
  -webkit-animation-duration: .5s !important;
  animation-duration: .5s !important; }

::-webkit-scrollbar {
  width: 9px;
  z-index: 999999; }

::-webkit-scrollbar-track {
  border: none; }

.package-detail-container:not(.setup-container), .package-detail-container:not(.nav-tabs) {
  user-select: auto !important; }

select:active option, select:hover option {
  outline-color: #000; }

.workbench-container {
  width: 100%;
  height: calc(100% - 24px);
  margin: 0;
  padding: 0;
  display: flex; }
  .workbench-container activity-bar {
    width: 50px;
    height: 100%; }

.main-split-pane.fixed-left > .split-pane-component:first-child {
  min-width: 240px; }

.main-split-pane.fixed-left > .split-pane-component:last-child {
  min-width: 240px; }

.main-split-pane.fixed-left .split-pane-divider {
  width: 8px;
  margin-left: -4px;
  cursor: e-resize; }

.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 32px;
  padding: 6px 7px 7px 10px;
  font-size: 13px;
  transition: none; }
  .form-control:active, .form-control:hover, .form-control:focus {
    box-shadow: none; }

.has-search-icon {
  position: relative; }
  .has-search-icon .form-control {
    padding-left: 28px;
    padding-right: 26px; }
  .has-search-icon:not(.input-loader):after {
    font-family: 'FontAwesome';
    content: "\f002";
    position: absolute;
    top: 5px;
    left: 9px; }
  .has-search-icon.input-loader:after {
    content: " ";
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 7px;
    width: 16px;
    height: 16px;
    animation: spin 1s infinite linear;
    border-width: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto; }

.loading {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s infinite linear;
  border-width: 2px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto; }

package-list-item .controls {
  position: relative; }
  package-list-item .controls .loading {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px; }
  package-list-item .controls .btn-sm {
    padding: 1px 5px;
    font-size: 11px; }

.dropdown-menu .divider {
  margin: 3px 0; }
