.workbench-container {
    activity-bar {
        .activity-bar-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: block;
                    padding: 6px 8px;

                    img {
                        display: table-cell;
                        vertical-align: middle;
                        height: 40px;
                        width: 32px;
                        filter: grayscale(100%);
                    }

                    &.active {
                        img {
                            filter: grayscale(0);
                        }
                    }
                }
            }

            .settings-list-item {
                font-size: 20px;
                text-align: center;
                position: absolute;
                bottom: 24px;
                left: 6px;
            }
        }
    }
}